<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventorybox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".network.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ExchangeModifyActivity"></activity>
        <activity android:name=".SignUpPersonal">

        </activity>
        <activity
            android:name=".SignUpProfile"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUpTerms" >

        </activity>
        <activity android:name=".ExchangeMyPost" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="3870475473bd9fb4ab292c7b2c0276bd" />

        <activity android:name=".activity.ExchangeSetLocation" />
        <activity android:name=".activity.ExchangeItemDetail" />
        <activity android:name=".activity.ExchangePostActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.HomeOrderDetailActivity" />
        <activity android:name=".activity.HomeOrderEditActivity" />
        <activity android:name=".activity.RecordAddActivity" />
        <activity android:name=".activity.RecordCateogyActivity" />
        <activity android:name=".activity.RecordRecordActivity" />
        <activity android:name=".activity.RecordModifyActivity" />
        <activity android:name=".activity.RecordIconActivity" />
        <activity android:name=".activity.HomeNoticeActivity" />
        <activity
            android:name=".activity.HomeProfileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.HomePersonalActivity" />
        <activity android:name=".activity.HomeMypostActivity" />
        <activity android:name=".activity.HomeEmailActivity" />
        <activity android:name=".activity.HomeCustomerActivity" />
        <activity android:name=".activity.HomeSettingsActivity" />
        <activity
            android:name=".SignUp"
            android:configChanges="orientation|keyboardHidden|screenSize">

        </activity>
        <activity android:name=".activity.LoginActivity">

        </activity>
        <activity android:name=".activity.SplashActivity"></activity>
        <activity android:name=".activity.FindEmailActivity" />
        <activity android:name=".activity.ServiceActivity"/>
        <activity android:name=".activity.ServiceTermActivity"/>
        <activity android:name=".activity.ServiceLicenseActivity"/>
        <activity android:name=".activity.ServicePrivacyActivity"/>
    </application>

</manifest>